@import 'prismjs/themes/prism-dark.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-800;
    @apply text-gray-100;
  }
  video {
    @apply w-full;
  }
  .brand h1 {
    @apply text-2xl;
    @apply font-bold;
  }
  .brand a {
    @apply text-yellow-300;
    @apply no-underline;
  }
  .brand a:hover {
    @apply bg-transparent;
    @apply text-yellow-300;
    @apply underline;
    text-decoration-color: #9CA3AF;
    text-decoration-thickness: 2px;
  }
  a {
    @apply text-gray-100;
    @apply no-underline;
  }
  a:hover {
    @apply bg-transparent;
    @apply text-gray-100;
    @apply underline;
    text-decoration-color: #FCD34D;
    text-decoration-thickness: 2px;
  }
  .article-metadata {
    @apply text-gray-400;
    @apply font-sans;
    @apply flex;
    @apply flex-row;
  }
  .article-metadata * {
    @apply px-2;
    @apply mb-2;
    @apply border-r;
    @apply border-gray-600;
    @apply last:border-0;
    @apply first:pl-0;
  }
  .collection-item {
    @apply py-4;
    @apply border-b;
    @apply border-gray-600;
    @apply last:pb-0;
    @apply last:border-0;
  }
  #footer {
    @apply text-gray-400;
  }
  #footer a, .prose .article-metadata a {
    @apply underline;
    @apply text-gray-400;
    text-decoration-color: #4B5563;
  }
  #footer a:hover, .prose .article-metadata a:hover {
    @apply text-yellow-300;
    @apply bg-transparent;
  }
}

@layer components {
  .prose {
    @apply font-serif;
    @apply text-lg;
    @apply text-gray-300;
  }
  .prose strong {
    @apply text-gray-100;
  }
  .prose a {
    @apply underline;
    @apply text-yellow-300;
    text-decoration-color: #9CA3AF;
  }
  .prose a:hover {
    @apply bg-yellow-300;
    @apply text-gray-700;
  }
  .prose h1,
  .prose h2,
  .prose h3,
  .prose h4,
  .prose h5 {
    @apply font-sans;
    @apply text-gray-100;
    @apply mt-0;
    @apply mb-4;
  }
  .prose hr {
    @apply my-4;
    @apply border-gray-600;
  }
  .prose p {
    @apply first:mt-0;
    @apply last:mb-0;
  }
  .prose code, .prose a code {
    @apply text-gray-200;
    @apply bg-gray-700;
    @apply rounded-sm;
  }
  .prose blockquote {
    @apply text-gray-100;
    @apply border-l-4;
    @apply border-gray-600;
  }
  .prose tbody tr {
    @apply border-b;
    @apply border-gray-600;
  }
}
